.color-nav {
    color: #ffffff !important;
}

.color-nav-2 {
    color: #10385d !important;
}

.color-content {
    color: #1b1e21;
}

.background-nav {
    background-color: #2196f3;
}

.background-content {
    background-color: #bbdefb;
}


